.navbar{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbartext{
    justify-content: center;
  }
  .separator{
    background-color: #fff6f4;
    transform: rotate(90deg);
    width: 25px;
    height: 1px;
  }